<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-12"> -->
      <div class="row services-inner">
        <div class="col-12 service-header">
          Các dịch vụ <span class="text-bold">Donald Trump</span> có thể cung cấp (4):
        </div>
        <div class="col-12 select-all-line">
          <mat-checkbox class="checkbox-cus" [(ngModel)]="checked" [(indeterminate)]="indeterminate">Tất cả các dịch vụ</mat-checkbox>
        </div>
        <div class="col-12 list-service">
          <div class="row service-lineitem align-items-center" *ngFor="let item of [1,2,3,4,5,6,7,8,9,0,11,21,31]">
            <div class="col-8">
              <mat-checkbox class="checkbox-cus" ngModel>Manicure</mat-checkbox>
            </div>
            <div class="col-2 text-center">40 min</div>
            <div class="col-2 text-center">$60</div>
          </div>
        </div>
      
      </div>
    <!-- </div>
  </div>
</div> -->