<div class="row item-dialog">
  <div class="col-auto dialog--ava-inner align-self-center">
    <div class="dialog--ava">
      <div class="ava--box"><img [src]="conversation.userPic"/></div>
    </div>
  </div>
  <div class="col-auto dialog--descript align-self-center">
    <div class="dialog--name">{{ conversation.userChat }}</div>
    <div class="dialog--short-dialog">{{conversation.lastMessage}}</div>
  </div>
  <div class="col-2 dialog-time align-self-start">
    {{conversation.lastTime}}
  </div>
</div>