<div class="list-confirm navbar-right-absolute text-left">
  <div class="list-confirm-header navbar-right-absolute-header ">
    Danh sách confirmed - Hôm nay
    <span> ( 64 )</span>
  </div>
  <div class="list-confirm-content">
    <div class="confirm-item content-item">
      <div class="confirm-customer">
        <strong class="customer-name">Trang Nguyễn</strong> - Hôm nay,
        <span>11.00 am</span>
      </div>
      <div class="confirm-employee">
        <span class="service-name">Pedicure</span> -
        <span class="employee-name">Phuong Hoang</span>
      </div>
      <div class="confirm-phone content-item-phone" fxLayout="row">
        <i class="material-icons">
          call
        </i>
        <a href="tel:84 1689237730">84 1689237730</a>
      </div>
      <button mat-button class="btn-message confirm-message">
        <i class="material-icons">
          mail
        </i>
      </button>
    </div>
    <div class="confirm-item content-item">
      <div class="confirm-customer">
        <strong class="customer-name">Trang Nguyễn</strong> - Hôm nay,
        <span>11.00 am</span>
      </div>
      <div class="confirm-employee">
        <span class="service-name">Pedicure</span> -
        <span class="employee-name">Phuong Hoang</span>
      </div>
      <div class="confirm-phone content-item-phone" fxLayout="row">
        <i class="material-icons">
          call
        </i>
        <a href="tel:84 1689237730">84 1689237730</a>
      </div>
      <button mat-button class="btn-message confirm-message">
        <i class="material-icons">
          mail
        </i>
      </button>
    </div>
  </div>
</div>