<div class="dialogs-inner" [@flyOutFade]="!isViewMes">
    <div *ngIf="afAuth.user | async as user; else showLogin">
            <button (click)="logout()">Logout</button>
        <div class="dialogs--toolbar-header">
            <button class="btn-compose">
                <i class="fa fa-envelope" aria-hidden="true"></i> Soạn
            </button>
            <input class="search-mes" matInput placeholder="Tìm kiếm tin nhắn...">
        </div>
        <div class="list-dialogs container container-dialogs">
            <!-- <app-chat-dialogs-item *ngFor="let item of ['view']" (click)="viewMessagesOrDialogs()"></app-chat-dialogs-item> -->
            <ul>
                <li class="text" *ngFor="let item of users | async">
                    {{item | json}}
                </li>
                </ul>
        </div>
    </div>
    <ng-template #showLogin>
        <p>Please login.</p>
        <button (click)="login()">Login with Google</button>
    </ng-template>
   
</div>
<app-chat-messages [flyInFade]="isViewMes" (actionBack)="viewMessagesOrDialogs()"></app-chat-messages>