<div class="dialogs-inner" [@flyOutFade]="!isViewMes">
    <div *ngIf="isLogin">
        <div class="dialogs--toolbar-header">
            <button class="btn-compose">
                <i class="fa fa-envelope" aria-hidden="true"></i> Soạn
            </button>
            <input class="search-mes" matInput placeholder="Tìm kiếm tin nhắn...">
        </div>
        <div class="list-dialogs container container-dialogs">
            <app-chat-dialogs-item *ngFor="let item of conversation | async" [conversation]="item" (click)="viewMessagesOrDialogs(item)" ></app-chat-dialogs-item>
        </div>
    </div>
    <div *ngIf="!isLogin" >
        <p>Please login.</p>
        <button (click)="login()">Login with Google</button>
    </div>
</div>
<app-chat-messages *ngIf="afAuth.user && isViewMes"
 [flyInFade]="isViewMes" (actionBack)="viewMessagesOrDialogs()" [curUser]="curUser" [userChat]="userActive"></app-chat-messages>
