<div class="list-statistic navbar-right-absolute text-left">
  <div class="list-statistic-header navbar-right-absolute-header ">
    <span>
      Dữ liệu - Hôm nay
    </span>
    <i class="material-icons">
      delete
    </i>
  </div>
  <ul class="list-statistic-content">
    <li class="statistic-item statistic-really">
      <div class="row">
        <div class="col-md-8">
          <div class="statistic-title">Doanh thu thực tế</div>
        </div>
        <div class="col-md-4">
          <div class="statistic-number">$ 2450</div>
        </div>
      </div>
    </li>
    <li class="statistic-item">
      <div class="row">
        <div class="col-md-8">
          <div class="statistic-title">Doanh thu dự kiến</div>
        </div>
        <div class="col-md-4">
          <div class="statistic-number">$ 4060</div>
        </div>
      </div>
    </li>
    <li class="statistic-item">
      <div class="row">
        <div class="col-md-8">
          <div class="statistic-title">Tổng số lịch hẹn</div>
        </div>
        <div class="col-md-4">
          <div class="statistic-number">67</div>
        </div>
      </div>
      <ul class="statistic-sub">
        <li class="statistic-item">
          <div class="row">
            <div class="col-md-9">
              <div class="statistic-title">
                Lịch hẹn đã thực hiện
              </div>
            </div>
            <div class="col-md-3">
              <div class="statistic-number">41</div>
            </div>
          </div>
        </li>
        <li class="statistic-item">
          <div class="row">
            <div class="col-md-9">
              <div class="statistic-title">
                Lịch hẹn chưa thực hiện
              </div>
            </div>
            <div class="col-md-3">
              <div class="statistic-number">26</div>
            </div>
          </div>
        </li>
      </ul>
    </li>
    <li class="statistic-item">
      <div class="row">
        <div class="col-md-8">
          <div class="statistic-title">Khách hàng mới</div>
        </div>
        <div class="col-md-4">
          <div class="statistic-number">5</div>
        </div>
      </div>
    </li>
  </ul>
  <div class="list-statistic-remove text-center">
    <span class="title">Tự động xóa hết dữ liệu vào cuối ngày</span>
    <div class="list-statistic-option">
      <mat-radio-group>
        <mat-radio-button value="1" checked>Không</mat-radio-button>
        <mat-radio-button value="2">Có</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</div>