<div class="list-pending navbar-right-absolute text-left">
    <div class="list-pending-header navbar-right-absolute-header ">
      Danh sách pending - Hôm nay
      <span> (4)</span>
    </div>
    <div class="list-pending-content">
      <div class="pending-item content-item">
        <div class="pending-customer">
          <strong class="customer-name">Trang Nguyễn</strong> - Hôm nay,
          <span>11.00 am</span>
        </div>
        <div class="pending-employee">
          <span class="service-name">Pedicure</span> -
          <span class="employee-name">Phuong Hoang</span>
        </div>
        <div class="pending-phone content-item-phone" fxLayout="row">
          <i class="material-icons">
            call
          </i>
          <a href="tel:84 1689237730">84 1689237730</a>
        </div>
        <button mat-button class="btn-message pending-message">
          <i class="material-icons">
            mail
          </i>
        </button>
      </div>
      <div class="pending-item content-item">
        <div class="pending-customer">
          <strong class="customer-name">Trang Nguyễn</strong> - Hôm nay,
          <span>11.00 am</span>
        </div>
        <div class="pending-employee">
          <span class="service-name">Pedicure</span> -
          <span class="employee-name">Phuong Hoang</span>
        </div>
        <div class="pending-phone content-item-phone" fxLayout="row">
          <i class="material-icons">
            call
          </i>
          <a href="tel:84 1689237730">84 1689237730</a>
        </div>
        <button mat-button class="btn-message pending-message">
          <i class="material-icons">
            mail
          </i>
        </button>
      </div>
    </div>
  </div>