<h2 mat-dialog-title>Book lịch hẹn</h2>
<mat-dialog-content>
  <mat-tab-group>
    <mat-tab label="Lịch hẹn">
      <app-add-appointment></app-add-appointment>
    </mat-tab>
    <mat-tab label="Khách hàng">
      <mat-list class="customer-wrapper">
        <mat-list-item class="customer-search">
          <div class="item-title">Khách hàng</div>
          <div class="item-input-search">
            <input type="text" name="customer-search" class="input-search">
          </div>
        </mat-list-item>
        <mat-list-item>
          <div class="item-title">Hoặc</div>
          <div class="item-button">
            <button class="add-customer"> <i class="material-icons">
              person_add
              </i> Thêm khách hàng mới</button>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>