<mat-card class="list-noti navbar-right-absolute text-left">
  <mat-card-title class="navbar-right-absolute-header ">
    Thông báo
  </mat-card-title>
  <div class="list-noti-wrapper">
    <mat-card-content class="list-noti-app">
      <!-- <div class="list-noti-header">Qua Bookabel App</div> -->
      <mat-list class="list-noti-content">
        <mat-list-item class="noti-item" fxLayout="row">
          <div class="noti-icon noti-booknew" fxFlex="10">
            <i class="material-icons">
              event_available
            </i>
          </div>
          <div class="noti-content" fxFlex="90">
            <span class="noti-title">Lịch hẹn mới</span> -
            <span>Oct 10, 2018 @ 1:00 pm</span> -
            <span class="noti-customer">Jessica Denny</span> ,
            <span class="noti-sevice">Manicure, Pedicure, Foot massage $110 </span> - width
            <span class="noti-employee">Hiep Tran</span>
            <div class="noti-time">3 giờ trước - qua Bookable app</div>
          </div>
        </mat-list-item>
        <mat-list-item class="noti-item" fxLayout="row">
          <div class="noti-icon noti-bookchange" fxFlex="10">
            <i class="material-icons">
              event_available
            </i>
          </div>
          <div class="noti-content" fxFlex="90">
            <span class="noti-title">Lịch hẹn mới</span> -
            <span>Oct 10, 2018 @ 1:00 pm</span> -
            <span class="noti-customer">Jessica Denny</span> ,
            <span class="noti-sevice">Manicure, Pedicure, Foot massage $110 </span> - width
            <span class="noti-employee">Hiep Tran</span>
            <div class="noti-time">3 giờ trước - qua Bookable app</div>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-content class="list-noti-seen">
        <!-- <div class="list-noti-header">Qua Bookabel App</div> -->
        <mat-list class="list-noti-content">
          <mat-list-item class="noti-item" fxLayout="row">
            <div class="noti-icon noti-booknew" fxFlex="10">
              <i class="material-icons">
                event_available
              </i>
            </div>
            <div class="noti-content" fxFlex="90">
              <span class="noti-title">Lịch hẹn mới</span> -
              <span>Oct 10, 2018 @ 1:00 pm</span> -
              <span class="noti-customer">Jessica Denny</span> ,
              <span class="noti-sevice">Manicure, Pedicure, Foot massage $110 </span> - width
              <span class="noti-employee">Hiep Tran</span>
              <div class="noti-time">3 giờ trước - qua Bookable app</div>
            </div>
          </mat-list-item>
          <mat-list-item class="noti-item" fxLayout="row">
            <div class="noti-icon noti-userchange" fxFlex="10">
              <i class="material-icons">
                  person
              </i>
            </div>
            <div class="noti-content" fxFlex="90">
              <span class="noti-title">Thông tin </span> 
              <span>của </span>
              <span class="noti-customer">Phuong Hoang </span> ,
              <span class="noti-sevice">đã được thay đổi</span>
              <div class="noti-time">3 giờ trước - bởi bạn</div>
            </div>
          </mat-list-item>
          <mat-list-item class="noti-item" fxLayout="row">
            <div class="noti-icon noti-usernew" fxFlex="10">
              <i class="material-icons">
                  person
              </i>
            </div>
            <div class="noti-content" fxFlex="90">
              <span class="noti-title">Khách hàng mới </span> -
              <span class="noti-customer"> Phuong Hoang</span> ,
              <span class="noti-sevice"> đã được thêm vào</span>
              <div class="noti-time">3 giờ trước - bởi bạn</div>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
  </div>
</mat-card>